/.vs
/VT2-Aseptic-Production-Demonstrator/.vs
/VT2-Aseptic-Production-Demonstrator/VT2-Aseptic-Production-Demonstrator/bin
/VT2-Aseptic-Production-Demonstrator/VT2-Aseptic-Production-Demonstrator/obj
/VT2-Aseptic-Production-Demonstrator/VT2-Aseptic-Production-Demonstrator/obj/Debug/net8.0
/VT2-Aseptic-Production-Demonstrator/VT2-Aseptic-Production-Demonstrator/obj/Debug/net8.0
/VT2-Aseptic-Production-Demonstrator/VT2-Aseptic-Production-Demonstrator/obj
